core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
kaggle.json
outputs/ml_pipeline/predict_saleprice/v1/backup/
housing-prices-data.zip